<form action="" method="POST">
	<input type="hidden" name="orderID" value="{{ order.order_id }}">
	<div class="form-group">
		<div class="input-group">
			<label for="bankName">Bank Name</label><br />
			<input type="text" name="bankName" placeholder="e.g BCA or Bank BCA" class="form-control" maxlength="50">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<label for="bankAccount">Bank Account</label><br />
			<input type="text" name="bankAccount" placeholder="e.g 5220890856" class="form-control" maxlength="50">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<label for="bankAccountName">Bank Account Name</label><br />
			<input type="text" name="bankAccountName" placeholder="e.g Patrick Star" class="form-control" maxlength="50">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<label for="transferDate">Transfer Date</label><br />
			<input type="date" name="transferDate" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<label for="transferNominal">Transfer Nominal</label><br />
			<input type="text" name="transferNominal" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-sm">Submit</button>
	</div>
</form>